<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Gutscheine nur für Neukunden</label>
    <label lang="en">Vouchers only for new customers</label>

    <version>1.1.4</version>
    <copyright>Copyright (c) 2021, Netzhirsch GbR</copyright>
    <license>proprietary</license>
    <link>https://www.netzhirsch.de</link>
    <author>Netzhirsch GbR</author>
    <compatibility minVersion="5.2.0" />
    
    <description lang="de">Mit diesem Plugin erweitern Sie die Gutscheinerstellung um die Option, dass diese nur für Neukunden einlösbar sind.</description>
    <description lang="en">With this plugin, you expand the voucher creation with the option that it can only be redeemed for new customers.</description>

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung des Plugins.</changes>
        <changes lang="en">Initial Release of the plugin.</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de">Kompatibilität zu PHP 7 hergestellt.</changes>
        <changes lang="en">Compatibility with PHP 7 made.</changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de">Diverse kleinere Anpassungen. Vereinheitlichte Icons erstellt.</changes>
        <changes lang="en">Various minor adjustments. Unified icons created.</changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">Kompatibilität zu Shopware 5.5.0 hergestellt: ionCube-Verschlüsselung wurde entfernt.</changes>
        <changes lang="en">Compatibility with Shopware 5.5.0 made: ionCube encryption has been removed.</changes>
    </changelog>

    <changelog version="1.1.1">
        <changes lang="de">Fehlerbehebung beim Einlösen eines Gutscheins im Checkout.</changes>
        <changes lang="en">Troubleshooting redeeming a coupon in the checkout.</changes>
    </changelog>

    <changelog version="1.1.2">
        <changes lang="de">Performance-Steigerung beim Einlösen von Gutscheinen.</changes>
        <changes lang="en">Performance increase when redeeming vouchers.</changes>
    </changelog>

    <changelog version="1.1.3">
        <changes lang="de">Es werden nun nicht nur allgemeine sondern auch individuelle Gutschein-Codes berücksichtigt.</changes>
        <changes lang="en">Not only general but also individual voucher codes are now taken into account.</changes>
    </changelog>

    <changelog version="1.1.4">
        <changes lang="de">Verbessert Kompatibilität mit Shopware Versionen größer als 5.4.</changes>
        <changes lang="en">Improved compatibility with Shopware versions greater than 5.4.</changes>
    </changelog>

</plugin>
